.buttongroups-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid green;
}

.map-box{
  /* background: linear-gradient(to bottom, #FFFFFF, #F0F0F0); */
  border: 1px solid var(--bs-border-color-translucent);
  border-radius: var(--bs-border-radius);
  display: block;
}

.map-box .card-footer {
  display: block !important;
  width: 100%;
  text-align: center;
}

.selected-cell-display {
  display: block !important;
  text-align: center;
  margin-top: 10px;
}


.map-box > * {
  display: flex;
  justify-content: center;
}

.buttongroups-container:first-child {
  margin-top: 120px;
  margin-bottom: 40px;
}

.multiple-selection-styling-mode {
  border-left-width: 1px;
  border-left-style: solid;
  border-color: #ddd;
}

.study-meta {
  text-align: center;
}

.scalawag-meta {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.flex-child {
  flex-basis: 48%;
  text-align: center; /* Center the text within flex-child */
}

.flex-child b {
  text-align: center; /* Center the text inside the b tag */
}

.flex-child2 {
  flex-basis: 100%;
}

.pval-label {
  text-align: center; /* Center the text within the label */
}

.pval-value {
  font-size: 40px;
}

.lfc-label {
  text-align: center; /* Center the text within the label */
}

.lfc-value {
  font-size: 40px;
}

.negative-value {
  color: lightcoral;
}

.positive-value {
  color: forestgreen;
}

.memo {
  font-size: medium;
  font-Family: 'RobotoCondensed';
  text-align: center;
  display: inline-block;
}

.dx-texteditor.dx-editor-outlined {
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
}

::ng-deep .dx-button-text {
  font-size: var(--bs-body-font-size);
  font-family: var(--bs-body-font-family);
  font-weight: var(--bs-body-font-weight);
  color: var(--bs-body-color);
  transition: .2s ease-in-out;
  background: transparent;
}

::ng-deep .dx-buttongroup-item {
  background-color: transparent !important;
  border: var(--bs-border-width) solid var(--bs-border-color-translucent) !important;
}

::ng-deep .dx-buttongroup-item.dx-item-selected {
  background-color: var(--bs-pink) !important;
}

::ng-deep .dx-item-selected .dx-button-text {
  color: white;
}


::ng-deep .dx-button-mode-contained.dx-buttongroup-first-item.dx-button, .dx-button-mode-contained.dx-buttongroup-first-item.dx-state-hover .dx-button-content, .dx-button-mode-outlined.dx-buttongroup-first-item.dx-button, .dx-button-mode-outlined.dx-buttongroup-first-item.dx-state-hover .dx-button-content {
  border-top-left-radius: .375rem !important;
  border-bottom-left-radius: .375rem !important;
}

::ng-deep .dx-button-mode-contained.dx-buttongroup-last-item.dx-button, .dx-button-mode-contained.dx-buttongroup-last-item.dx-state-hover .dx-button-content, .dx-button-mode-outlined.dx-buttongroup-last-item.dx-button, .dx-button-mode-outlined.dx-buttongroup-last-item.dx-state-hover .dx-button-content {
  border-top-right-radius: .375rem !important;
  border-bottom-right-radius: .375rem !important;
}