<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<app-navbar></app-navbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="text-left bg-body-tertiary mt-4">
  <!-- Grid container -->
  <div class="container">
    <section class="d-flex justify-content-center justify-content-between py-4 border-bottom">
      <!-- Section: Social media -->
      <div class="me-5 d-lg-block">
        <p>
          Mouse Cardiac Regeneration Database
          <br />
          <small class="text-muted">Version 0.2505.2.0</small>
        </p>
        <small class="text-muted">This resource is provided for research/educational purposes only. It must not be used
          for clinical diagnosis or commercial decision‑making.</small>
        <br />
        <div class="g-2">
          <small class="text-muted"><a href="javascript:void(0);" target="_blank"
              (click)="CiteClick();">Citation</a></small>
        </div>
      </div>
      <div>
        <!-- Github -->
        <a data-mdb-ripple-init="" class="btn btn-link btn-floating btn-lg text-body m-1"
          href="https://github.com/itsuki5696/aninext" role="button" data-mdb-ripple-color="dark"><i
            class="fab fa-github"></i></a>
        <a data-mdb-ripple-init="" class="btn btn-link btn-floating btn-lg text-body m-1"
          href="mailto:author@example.com" role="button" data-mdb-ripple-color="dark"><i
            class="fa fa-envelope"></i></a>
      </div>
    </section>
  </div>
  <!-- Copyright -->
</footer>