<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<app-navbar></app-navbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="text-left bg-body-tertiary mt-4">
  <!-- Grid container -->
  <div class="container">
    <section class="d-flex justify-content-center justify-content-between py-4 border-bottom">
      <!-- Section: Social media -->
      <div class="me-5 d-lg-block">
        <p>Foot note here!</p>
        <small class="text-muted">Version 0.2504.1.0</small>
        <br>
        <small class="text-muted">Description Here</small>
      </div>
      <div>
        <!-- Github -->
        <a data-mdb-ripple-init="" class="btn btn-link btn-floating btn-lg text-body m-1"
          href="https://github.com/itsuki5696/aninext" role="button" data-mdb-ripple-color="dark"><i
            class="fab fa-github"></i> (Github icon here)</a>
      </div>
    </section>
  </div>
  <!-- Copyright -->
</footer>