<div class="row g-2">
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="p-0 m-0">{{Version}}</h4>
            <small class="text-muted">
                <i class="fa fa-clock"></i> {{ CompileDate }}
            </small>
        </div>
        <p class="mt-2 mb-0">New Features</p>
        <ul>
            <li><b>Download all data</b>: Now you can download all available data from the search & download page. Please notice that sorting cell types is not possible at this time.</li>
        </ul>
        <!--<p class="mt-2 mb-0">Fixed Issues</p>
        <ul>
            <li>Now all controls should be able to display correctly in dark mode.</li>
            <li>Dropdown menus should be collapsed and shown correctly.</li>
            <li>Colors in IGV were changed to adapt color themes.</li>
        </ul>-->
        <p class="mt-2 mb-0">Known Issues</p>
        <ul>
            <li>You may experience temporary stuck when downloading large files or multiple files.</li>
        </ul>
        <p class="mb-0">See full version history on <a href="https://github.com/AnthonyShea/MouseHeartDatabase" target="_blank">GitHub</a>.</p>
    </div>
</div>
