<div class="row g-2">
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="p-0 m-0">0.2502.24.0</h4>
            <small class="text-muted">
                <i class="fa fa-clock"></i> 08 May 2025
            </small>
        </div>
        <!--<p class="mt-2 mb-0">New Features</p>
        <ul>
            <li><b>Dark mode</b>: Now the website could adapt to your system's settings in default. You can also switch website theme manually.</li>
            <li><b>Changelog</b>: You can view new features, fixed issues and known issues by clicking the link in footer.</li>
            <li><b>Citation</b>: Citation of this website is provided when you click the citation link in footer.</li>
        </ul>-->
        <p class="mt-2 mb-0">Fixed Issues</p>
        <ul>
            <li>Now all controls should be able to display correctly in dark mode.</li>
            <li>Dropdown menus should be collapsed and shown correctly.</li>
            <li>Colors in IGV were changed to adapt color themes.</li>
        </ul>
        <!--<p class="mt-2 mb-0">Known Issues</p>
        <ul>
            <li>Dropdown menu will not be hidden in mobile layout.</li>
        </ul>-->
        <p class="mb-0">See full version history on <a href="https://github.com/AnthonyShea/MouseHeartDatabase" target="_blank">GitHub</a>.</p>
    </div>
</div>
