<div class="row g-2">
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="p-0 m-0">{{Version}}</h4>
            <small class="text-muted">
                <i class="fa fa-clock"></i> {{ CompileDate }}
            </small>
        </div>
        <p class="mt-2 mb-0">New Features</p>
        <ul>
            <li><b>Redesigned Genome Browser</b>: The IGV and genome browser page was redesigned to fit large devices.</li>
            <li><b>Redesigned navigation bar</b>: The navbar was redesigned to fit the modern design.</li>
        </ul>
        <p class="mt-2 mb-0">Fixed Issues</p>
        <ul>
            <li>Now in the Go term enrichment page, you can view descriptions of the selected pathway.</li>
            <li>Deprecated Gini index graph was removed from the Go term enrichment page.</li>
        </ul>
        <p class="mt-2 mb-0">Known Issues</p>
        <ul>
            <li>Sometimes the IGV will return empty sets of gene cards, even if you have selected multiple genes.</li>
            <li>Downloading large or multiple files may cause temporary slow down or crash of your browser.</li>
        </ul>
        <p class="mb-0">See full version history on <a href="https://github.com/AnthonyShea/MouseHeartDatabase" target="_blank">GitHub</a>.</p>
    </div>
</div>
