<div class="row mt-2 g-2">
    <div class="col-lg-7 col-md-6 col-sm-12">
        <div class="row">
            <div class="input-group mb-2 d-flex justify-content-between">
                <span class="input-group-text emphasize">Species</span>
                <dx-tag-box class='dx-tag-box' [items]="species" [searchEnabled]="true" [hideSelectedItems]="true"
                    [hideSelectedItems]="true" [maxDisplayedTags]="4" style="width: 100%; flex: 1;"
                    [showClearButton]="true" (onValueChanged)="onSpeciesChanged($event)" placeholder="Select species"
                    [value]='selected_species'></dx-tag-box>
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-2 d-flex justify-content-between">
                <span class="input-group-text emphasize">Tissue</span>
                <dx-tag-box class='dx-tag-box' [items]="tissue_types" [searchEnabled]="true" [hideSelectedItems]="true"
                    (onValueChanged)="onTissuesChanged($event)" placeholder="Select tissues" [showMultiTagOnly]="false"
                    [value]='tissue_types' style="width: 100%; flex: 1;" [showClearButton]="true" [maxDisplayedTags]="4"
                    [showClearButton]="true" [showSelectionControls]="true"></dx-tag-box>
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-2 d-flex justify-content-between">
                <span class="input-group-text emphasize">Cell Types</span>
                <dx-tag-box class='dx-tag-box' [items]="cell_types" [searchEnabled]="true" [hideSelectedItems]="true"
                    (onValueChanged)="onCellsChanged($event)" placeholder="Select cell types" [value]='selected_cells'
                    [maxDisplayedTags]="8" style="width: 100%; flex: 1;" [showClearButton]="true"
                    [showSelectionControls]="true"></dx-tag-box>
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-2 d-flex justify-content-between">
                <span class="input-group-text emphasize">Health Status</span>
                <dx-tag-box class='dx-tag-box' [items]="health" [searchEnabled]="true" [hideSelectedItems]="true"
                    (onValueChanged)="onHealthChanged($event)" placeholder="Select Health Status"
                    style="width: 100%; flex: 1;" [value]='selected_health' [maxDisplayedTags]="8"
                    [showClearButton]="true" [showSelectionControls]="false"></dx-tag-box>
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-2">
                <span class="input-group-text emphasize" id="basic-addon1">PMID</span>
                <input type="text" (value)="pmid" placeholder="Optional" class="form-control"
                    aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-2 d-flex justify-content-between">
                <span class="input-group-text emphasize" id="basic-addon1">Age Select</span>
                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" value="neonetal"
                    [(ngModel)]="this.neonatal_selected">
                <label class="btn btn-outline-secondary"
                    style="width: 100%; flex: 1; border-color: var(--bs-border-color)" for="btncheck1">Neonatal (P1 -
                    P6)</label>
                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" value="postnatal"
                    [(ngModel)]="this.postnatal_selected">
                <label class="btn btn-outline-secondary"
                    style="width: 100%; flex: 1; border-color: var(--bs-border-color)" for="btncheck2">Postnatal
                    (P7+)</label>
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-center">
                <button (click)="samplesTest()" class="btn btn-warning" style="margin-right: .5rem;">Search</button>
                <button id="downloadButton" [disabled]="!query_completed" class="btn btn-secondary" icon="download"
                    (click)="downloadWrapper()">Download
                    Standardized Data</button>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
        <div class="card" *ngIf="query_completed">
            <div class="card-header">
                <div class="row">
                    <div class="d-flex justify-content-center">
                        <dx-button-group [items]="maps" [selectedItemKeys]="['Tissue']"
                            (onItemClick)="onItemSelected($event)" class="large-button-group"></dx-button-group>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="tissue_chart" *ngIf="displayed_map=='Tissue' && query_completed" class="tissue_chart">
                    <apx-chart [series]="tissue_chart_options.series!" [chart]="tissue_chart_options.chart!"
                        [labels]="tissue_chart_options.labels!" [legend]="tissue_chart_options.legend!"
                        [responsive]="tissue_chart_options.responsive!" [dataLabels]="tissue_chart_options.data_labels!"
                        [plotOptions]="tissue_chart_options.options!" [theme]="tissue_chart_options.theme!"
                        [stroke]="tissue_chart_options.stroke!"></apx-chart>
                </div>
                <div id="sex_chart" *ngIf="displayed_map=='Sex' && query_completed" class="tissue_chart">
                    <apx-chart [series]="sex_chart_options.series!" [chart]="sex_chart_options.chart!"
                        [labels]="sex_chart_options.labels!" [legend]="sex_chart_options.legend!"
                        [responsive]="sex_chart_options.responsive!" [dataLabels]="sex_chart_options.data_labels!"
                        [plotOptions]="sex_chart_options.options!" [theme]="sex_chart_options.theme!"
                        [stroke]="sex_chart_options.stroke!"></apx-chart>
                </div>
                <div id="age_chart" *ngIf="displayed_map=='Age' && query_completed" class="age_chart">
                    <apx-chart [series]="age_chart_options.series!" [chart]="age_chart_options.chart!"
                        [legend]="age_chart_options.legend!" [dataLabels]="age_chart_options.data_labels!"
                        [plotOptions]="age_chart_options.options!" [colors]="age_chart_options.colors!"
                        [xaxis]="age_chart_options.xaxis!" [yaxis]="age_chart_options.yaxis!"></apx-chart>
                </div>
                <div id="health_chart" *ngIf="displayed_map=='Health' && query_completed" class="health_chart">
                    <apx-chart [series]="health_chart_options.series!" [chart]="health_chart_options.chart!"
                        [labels]="health_chart_options.labels!" [legend]="health_chart_options.legend!"
                        [responsive]="health_chart_options.responsive!" [dataLabels]="health_chart_options.data_labels!"
                        [plotOptions]="health_chart_options.options!" [theme]="health_chart_options.theme!"
                        [stroke]="health_chart_options.stroke!"></apx-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <h5>
            <span *ngIf="selectedRowKeys.length <= 1">{{selectedRowKeys.length}} Sample Totaling</span>
            <span *ngIf="selectedRowKeys.length > 1">{{selectedRowKeys.length}} Samples Totaling</span>
            <span>&nbsp;{{downloadSize == null ? '0.00 GB' : downloadSize}} Selected</span>
        </h5>
    </div>
    <div class="col-12" *ngIf="query_completed">
        <dx-data-grid class="sampletable" id="gridContainer" [dataSource]="display!" keyExpr="sample_id"
            [showBorders]="true" (onRowPrepared)="formatRow($event)" [selectedRowKeys]="selectedRowKeys"
            (onSelectionChanged)="onSelectionChanged($event)">
            <dxo-selection selectAllMode="allPages" [showCheckBoxesMode]="checkBoxesMode"
                mode="multiple"></dxo-selection>
            <dxi-column dataField="study_id" caption="PMID" width="10%"></dxi-column>
            <dxi-column dataField="tissue" width="20%"></dxi-column>
            <dxi-column dataField="age" width="10%"></dxi-column>
            <dxi-column dataField="disease_status" width="10%"></dxi-column>
            <dxi-column dataField="cell_types"></dxi-column>
        </dx-data-grid>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="input-group mb-2 d-flex justify-content-between">
            <span class="input-group-text emphasize" id="basic-addon1">File Type</span>
            <input type="checkbox" class="btn-check" id="degResults" autocomplete="off" value="degResult"
                [(ngModel)]="this.degResults_selected">
            <label class="btn btn-outline-secondary" style="width: 100%; flex: 1; border-color: var(--bs-border-color)"
                for="degResults">DEG Results</label>
            <input type="checkbox" class="btn-check" id="expMatrix" autocomplete="off" value="expMatrix"
                [(ngModel)]="this.expMatrix_selected">
            <label class="btn btn-outline-secondary" style="width: 100%; flex: 1; border-color: var(--bs-border-color)"
                for="expMatrix">Exp Matrix</label>
            <input type="checkbox" class="btn-check" id="goEnrich" autocomplete="off" value="goEnrich"
                [(ngModel)]="this.goEnrich_selected">
            <label class="btn btn-outline-secondary" style="width: 100%; flex: 1; border-color: var(--bs-border-color)"
                for="goEnrich">Go Enrich</label>
        </div>
        <div class="input-group mb-2">
            <span class="input-group-text emphasize" id="basic-addon1">PMID</span>
            <input type="text" (value)="pmid" placeholder="Optional" class="form-control"
                aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <table class="table table-striped" *ngIf="query_completed">
            <thead>
                <tr>
                    <th scope="col">　</th>
                    <th scope="col">PMID</th>
                    <th scope="col">Type</th>
                    <th scope="col">Name</th>
                    <th scope="col">Size</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="degResults_selected">
                    <tr *ngFor="let item of display;">
                        <td><input class="form-check-input" type="checkbox" id="{{item.study_id}}"></td>
                        <td>{{item.study_id}}</td>
                    </tr>
                </ng-container>
                <ng-container *ngIf="expMatrix_selected">
                    <tr></tr>
                    <tr *ngFor="let item of display;">
                        <td><input class="form-check-input" type="checkbox" id="{{item.study_id}}"></td>
                        <td>{{item.study_id}}</td>
                    </tr>
                </ng-container>
                <ng-container *ngIf="goEnrich_selected">
                    <tr *ngFor="let item of display;">
                        <td><input class="form-check-input" type="checkbox" id="{{item.study_id}}"></td>
                        <td>{{item.study_id}}</td>
                    </tr>
                </ng-container>
                <tr *ngIf="!(degResults_selected || expMatrix_selected || goEnrich_selected)">
                    <td class="text-center" colspan="5">Please select at least one criteria</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>